/* Global Styles for The Faction Nexus Roadmap */
body {
    font-family: 'Oxanium', sans-serif;
    color: var(--color-text);
    background-image: url('../images/background_image.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    scrollbar-color: var(--color-secondary) var(--darker-gray);
    scrollbar-width: thin;
    margin: 0;
}

a:link {
    color: #00ffbb;
}
a:visited {
    color: var(--color-accent);
}
a:active {
    color: royalblue;
}

a img {
    transform: translate(0, 4px);
}

h1 {
    margin: 5px 0;
}

hr {
    border-color: var(--color-accent);
    border-style: ridge;
    opacity: 90%;
    margin: 40px 0 5px 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Footer Styling */
footer {
    text-align: center;
    padding: 0.25em 0;
    margin-top: 10px;
    font-size: 0.7em;
    background-color: rgba(8, 8, 8, 0.667);
    color: #888;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Title styling */
.title {
    position: relative;
    text-align: center;
    font-size: 56px;
    font-weight: bold;
    text-shadow:
            0 0 10px rgba(0, 230, 255, 0.8),
            0 0 20px rgba(0, 230, 255, 0.6),
            0 0 30px rgba(0, 230, 255, 0.4);
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.75rem 0;
    top: 20%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(15px);
}

.links a {
    text-align: center;
    padding: 0.75rem 1rem;
    font-size: 20px;
    margin: 0.125em 0.4em;
    top: 20%;
    background: var(--darker-gray);
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(15px);
    text-decoration: none;
    color: var(--color-primary);
    transition: 1s;
}

.links a:hover {
    scale: 1.0625;
    transition: 0.333s;
}

/* Container for centering content */
.container {
    position: relative;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    max-width: 900px;
    margin: 2rem 2rem;
    top: 20%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(15px);
    transition: height 1s ease;
}

.container p {
    font-size: 18px;
    line-height: 1.6;
    text-align: start;
    margin-bottom: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: var(--color-background);
    border: 1px solid var(--color-border);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 15px 0;
    transition: transform 0.15s ease, box-shadow 0.1s ease, scale 0.1s ease, height 1s ease;
}

.item:hover {
    transform: translateY(-2.5px);
    scale: 1.02;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.item-title {
    width: fit-content;
    margin-left: 1vw;
    margin-bottom: 0;
    margin-top: 10px;
}

.item-description {
    font-size: 16px !important;
    margin-bottom: 10px !important;
}

.item-upper-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-type-text {
    transform: translate(0, -20px);
    color: lightgray;
}

.todo {
    background-color: var(--color-todo);
}

.in-progress {
    background-color: var(--color-in-progress);
}

.completed {
    background-color: var(--color-completed);
}

.live {
    background-color: var(--color-live);
}

.shelved {
    background-color: var(--color-shelved);
}

/* Entire scrollbar */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
    background: var(--darker-gray);
}

/* Scrollbar thumb (draggable part) */
::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 6px;
    border: 3px solid var(--darker-gray);
}

/* Hover effect on scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
    background: var(--cyan-300);
}

/* Active (clicked) effect on scrollbar thumb */
::-webkit-scrollbar-thumb:active {
    background: var(--color-secondary);
}

@font-face {
    font-family: 'Oxanium';
    src: url('../fonts/Oxanium-VariableFont_wght.ttf');
}

@media (max-width: 768px) {
    .links {
        flex-direction: column;
    }

    .title {
        font-size: 52px;
    }

    .subtitle {
        font-size: 28px;
    }
}

@media (max-width: 680px) {
    .title {
        font-size: 36px;
    }

    .subtitle {
        font-size: 22px;
    }
}